*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Main Container */

.main-container {
  color: #000;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;

  /* GRID */
  display: grid;
  grid-template-columns: 0.6fr 2fr 0.7fr;
  grid-template-rows: 1fr 2fr 2fr;
}
/* END - Main Container */

/* Navigation Bar Container */
.navigation-bar-container {
  padding: 15px 30px;
  background-color: #c27474;

  /* GRID-child*/
  grid-column: 2 / 4;
  grid-row: 1 / 2;

  /* GRID-parent*/
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.searchbox-icon {
  justify-self: end;
}
.input-navigation-bar {
  /* GRID-parent-child */
  display: grid;
  grid-template-columns: 0.2fr 3fr;
  gap: 20px;
  place-items: center;
}
.bar-input {
  width: 100%;
  height: 35px;
  padding: 8px;
  border-radius: 20px;
  border: none;
  background-color: #e6f0f7;
}

.user-nav-bar {
  padding-left: 40px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  place-items: center;
  gap: 5px;
}
.user-thumbnail {
  width: 80px;
}
.navBar-user-name {
  font-size: 20px;
}
.img-user-thumbnail {
  width: 80%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.user-profile-widget {
  display: grid;
  grid-template-columns: 0.5fr 4fr;

  .user-avatar {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
  }
}
.user-details {
  padding-left: 20px;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: 0.5fr 1fr;

  .user-greetings {
    align-self: end;
    grid-column: 1/1;
    grid-row: 1/2;
  }
  .user-display-name {
    grid-column: 1/1;
    grid-row: 2/3;
  }
  .user-username {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.action-button-container {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;

  button {
    width: 121px;
    border: none;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 25px;
    background-color: crimson;
  }
}

/* END - Navigation Bar Container */

/* Dashboard Container */

.dashboard-container {
  padding: 15px 20px;
  background-color: bisque;
  color: black;

  /* GRID-child */
  grid-column: 1 /2;
  grid-row: 1 / 4;

  /* GRID-parent */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 2fr;
  gap: 30px;

  .dashboard-title {
    height: auto;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    justify-content: center;
    justify-items: start;

    h2 {
      text-transform: capitalize;
    }
  }

  .dashboard-nav {
    margin-bottom: 40px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 3px;

    .nav-item {
      font-size: 25px;
      text-transform: capitalize;
      font-weight: bold;
      display: grid;
      grid-template-columns: 0.2fr 1fr;
      align-items: center;
    }
  }

  .dashboard-utility-nav {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 1px;

    .nav-item {
      font-size: 25px;
      text-transform: capitalize;
      font-weight: bold;
      display: grid;
      grid-template-columns: 0.2fr 1fr;
      align-items: center;
    }
  }
}
/* END - Dashboard Container */

/* Main content container */

.main-content-container {
  padding: 30px 10px 80px 30px;
  background-color: #e6f0f7;
  color: black;

  /* GRID-child */
  grid-column: 2 / 3;
  grid-row: 2 / 4;

  /* GRID-parent */
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 0.2fr 3fr;
}
.main-content-title {
  height: auto;
  grid-column: 1/2;
  grid-row: 1/2;

  h1 {
    text-transform: capitalize;
    font-size: 30px;
  }
}
.projects-content {
  grid-column: 1/2;
  grid-row: 2/3;
  /* Grid*/
  display: grid;
  grid-template-columns: repeat(2, 0.7fr);
  grid-template-rows: repeat(3, 0.5fr);
  gap: 30px;

  .project {
    padding: 25px 10px 0 25px;
    background-color: #fff;
    border-radius: 7px;
    border-left: 10px solid #2e8b57;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .project-title {
      text-transform: capitalize;
    }
    .project-para {
      margin-bottom: 10px;
    }
    .project-links {
      margin-top: 15%;
      display: grid;
      grid-template-columns: repeat(3, 0.2fr);
      justify-content: end;
      align-content: end;
      align-items: center;
      justify-items: center;
    }
  }
}

/* END - MAin content container */

/* Sidebar */
.sidebar {
  padding: 30px 30px 20px 20px;
  background-color: #e6f0f7;

  grid-column: 3/4;
  grid-row: 2/4;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
}

.announcement-container {
  grid-column: 1/2;
  grid-row: 1/2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr;

  .announcement-title {
    grid-column: 1/2;
    grid-row: 1/2;

    text-transform: capitalize;
    padding-bottom: 18px;
  }
  .announcement {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.announcement {
  font-size: 15px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 25px 30px;
  border-radius: 9px;

  .announcements-content {
    padding: 10px 0 15px 0;
  }
  .announcement-t {
    text-transform: capitalize;
  }
}

.trending {
  grid-column: 1/2;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr;

  .trending-title {
    grid-column: 1/2;
    grid-row: 1/2;

    text-transform: capitalize;
    padding-bottom: 18px;
  }
  .suggestion-container {
    grid-column: 1/2;
    grid-row: 2/3;

    font-size: 15px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 25px 0;
    border-radius: 9px;
  }
}

.suggestion-user {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows: 0.5fr 0.5fr;

  padding: 20px 10px;

  .suggestion-details {
    grid-column: 2/3;
    grid-row: 1/3;

    .suggestion-display-quota {
      text-transform: capitalize;
    }
  }

  .user-avatar {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    align-items: center;

    width: 65%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
  }
}

/* END - Sidebar */
